.container {
  max-width: 1000px;
}


@media (min-width: 768px) and (max-width: 1200px) {
  .container {
  max-width: 1000px;
}

label{
  font-size: 18px;
}

input[type="text"]
{
    font-size:23px;
}

}

@media (max-width: 767px) {
.container {
  max-width: 500px;
}
label{
  font-size: 19px;
}
input[type="text"]
{
    font-size:16px;
}

}
